/* 1 section */
.restaurant {
    color: #5863F8;
    font-size: 14px;
    font-weight: 700;
    margin-left: 163px;
    margin-top: 86px;
    margin-bottom: 18px;
}
.call-to{
    font-size: 42px;
    font-weight: 900;
    margin-left: 163px;
    margin-bottom: 50px;
}

.line1,
.line2 {
    margin-left: 163px;
    width: 1088px;
}
.line1{
    margin-bottom: 16px;

} 
.box {
    float: left;
width: 536px;
height: 190px;
background-color:#F8F8F8 ;
}
.image {
    float: left;
}
.text-wrapper {
    float: left;
    padding-left: 16px;
    padding-top: 38px;
}
.clear {
    clear: both;
}
.box-par {
    width: 235px;
}
.box-title {
    font-size: 14px;
    color: #5863F8;
    padding-bottom: 8px;
}
.mid-text {
    padding-bottom: 16px;
}
/* section 2 */
.container {
    width: 1088px;
    margin-left: 163px;
}
.box-down {
    float: left;
    padding-right: 10px;
}
.blog {
    color:#5863F8;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top:44px;
}
.section2-title {
    font-size: 42px;
    font-weight: 800px;
    margin-bottom: 44px;
}
.box1-title {
    font-size: 14px;
    color: #5863F8;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 16px;
}
.motto {
    text-align: center;
    padding-bottom: 20px;
}
.box-par1 {
    width: 220px;
  font-size: 14px;
}
